extends ../template

block title
  title Задание-3

block content
  .container
    .title-wrapper
      h1.title Поскрольте
    .button-wrapper
      button.button
        svg.button__arrow-up
          use(xlink:href= 'assets/images/images.svg#arrow_up').button__arrow-up--svg
    