extends ../template

block title
  title Задание-5

block content
  .wrapper-container
    .flex-block
      h1.inner-text 1
    .flex-block
      h1.inner-text 2
    .flex-block
      h1.inner-text 3
